.header_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  height: 60px;
}
.logo_container {
  padding-left: 10px;
  padding-right: 25px;
}
.search_header {
  border: 1px solid rgb(224, 224, 224);
  display: inline-flex;
  border-radius: 8px;
  padding: 0;
  overflow: hidden;
  align-items: center;
  text-align: center;
  margin-right: 10px;
}

.search_input {
  width: 60vw;
  background-color: inherit;
  font-size: 14px;
  height: 100%;
  font-family: inherit;
  padding: 0 10px 0 14px;
}
.search_icon {
  cursor: pointer;
  height: 102%;
  width: 56px;
}
.logo {
  height: 44px;
  width: auto;
}

.dropdown_header {
  height: 44px;
  border-right: 1.5px solid rgb(224, 224, 224);
}

