/*
 *  Global reset
 */
* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

ol,
ul {
  list-style: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*
 *  Font
 */
 @font-face {
  font-family: "supermarket";
  src: local("supermarket"),
    url("../assets/fonts/supermarket.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  /* unicode-range: U+0E00 –U + 0e7f; */
}
body {
  /* font-family: supermarket; */
}
