.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid rgb(210, 227, 236);
}

.list_in_sidebar {
  font-size: 14px;
}
.dropdown {
  padding: 6px 10px;
}
